/* NotionRender CSS Styles */
.notion-render-parent {
  position: relative;
  width: 100%;
  padding: 0;
  font-size: 16px;
  word-break: keep-all;
  overflow-wrap: break-word;
}

/* Font */
.notion-render-parent * {
  font-family: inherit;
}

/* Headings */
.notion-render-parent h1,
.notion-render-parent h2,
.notion-render-parent h3,
.notion-render-parent h4,
.notion-render-parent h5,
.notion-render-parent h6 {
  font-weight: 600;
  letter-spacing: -0.2px;
  scroll-margin-top: 56px;
}

.notion-render-parent h2 {
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.notion-render-parent h3 {
  font-size: 22px;
  margin-top: 24px;
  margin-bottom: 6px;
}

.notion-render-parent h4 {
  font-size: 18px;
  margin-top: 18px;
  margin-bottom: 4px;
}

/* Paragraph */
.notion-render-parent div {
  line-height: 1.8;
}

/* Link */
.notion-render-parent a {
  transition: opacity 0.4s;
}

/* Bold text */
.notion-render-parent strong,
.notion-render-parent b {
  font-weight: 600;
}

/* Blockquote */
.notion-render-parent blockquote {
  font-size: 16px;
  margin: 16px 0;
  padding: 12px 20px;
  border-left: 3px solid var(--color-gray-8);
  background-color: transparent;
}

/* Dark mode blockquote */
.dark .notion-render-parent blockquote {
  background-color: transparent;
}

/* List */
.notion-render-parent ul,
.notion-render-parent ol {
  padding-inline-start: 1.5rem;
  font-size: inherit;
}

.notion-render-parent li {
  padding: 4px 0;
  line-height: 1.7;
}

.notion-render-parent ul > li {
  list-style: disc;
}

.notion-render-parent ol > li {
  list-style: decimal;
}

/* Table */
.notion-render-parent table {
  width: 100%;
}

.notion-render-parent .notion-simple-table {
  width: auto;
  margin: 10px 20px;
}

.notion-render-parent .notion-simple-table td {
  padding: 6px;
}

/* Notion Custom Classes */
.notion-render-parent .notion-callout {
  background-color: transparent;
}

.notion-render-parent .notion-inline-code {
  font-size: 0.95rem;
  border-radius: 3px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(0, 0, 0, 0.05);
  padding: 2px 4px;
}

/* Dark mode inline code */
.dark .notion-render-parent .notion-inline-code {
  color: rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.05);
}

.notion-render-parent .notion-code {
  background-color: #202020;
  overflow-y: hidden;
}

.notion-render-parent .notion-code code {
  font-size: 13.5px;
  line-height: 1.6;
}

.notion-render-parent .notion-external {
  margin: 24px 0;
}

.notion-render-parent .notion-asset-caption {
  padding-top: 8px;
  padding-bottom: 0;
  font-size: 14px;
  color: var(--color-gray-9);
}

/* Horizontal Rule */
.notion-render-parent hr {
  margin: 40px 0;
  border-color: var(--color-gray-6);
}

.notion-render-parent .notion-collection-page-properties {
  display: none !important;
}

/* Math */
.notion-equation:active,
.notion-equation:focus {
  background: var(--color-gray-6);
}
